*{
    margin: 0;
}
.contact{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 400px;
    background: black;
}
.contact1{
    display: flex;
    flex-direction: column;
}
.title{
    text-align: center;
    font-size: 2rem;
    color: #fff;
}
.icons{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    color: #fff;
    font-size: 3rem;
    margin-left: 40px;
    /* background: white; */
}
.ver{
    width: 6px;
    height: 300px;
    margin-top: 10px;
    border: hidden;
    border-radius: 2px;
    background-color: lightgray;
}
.quick{
    display: flex;
    flex-direction: column;
    color:white;
    padding-top: 10px;
}
.navs {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    /* padding-top: 20px; */
}
    
.nav-item {
    margin-bottom: 4px;
}
.term{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: #fff;
    text-align: center;
}