.all{
	background-color: rgb(211, 220, 228);
	height: 100vh;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: auto; 
  background-color: antiquewhite;
  border-radius: 14px;
  padding: 40px;

  }
  h3{
	margin-left: 27%;
  }
  .box label {
	margin-bottom: 10px;
  }
  
  .box input[type="radio"] {
	margin-right: 10px;
	
  }
  .box span {
	display: block;
	margin-left: 27px;
	font-size: small;
  }
  .navbar {
	background-color:white;
	display: flex;
	align-items: center;
	height: 50px;
	padding: 10px;
	margin-bottom: 100px;
  }
  .nav{
	margin-left: 200px;
  }
  
  .navbar a {
	color: rgb(56, 50, 50);
	 margin-left: 60px;
	text-decoration: none;
	padding: 60px;
	
  }
  
  .navbar a:hover {
	color: rgb(56, 90, 201);
  }
  
  .navbar .active {
	color: rgb(85, 85, 122);
	text-decoration: underline;
	
  }
  
  .website-name {
	color: rgb(9, 3, 3);
	font-weight: bold;
	font-size: 20px;
  }
  .two{
	margin-right: 150px;
	padding-top: 10px;
  }
  .one{
	margin-right: 190px;
  }